body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    pointer-events: none;
    transition: background-color 500ms ease;
}

.homepage {
    position: relative;
    z-index: 1;
}

.full.show {
    pointer-events: auto;
    background-color: gray;
    height: 200vh;
}

.full .item-img {
    cursor: pointer;
    pointer-events: auto;
    z-index: 99;
}

.item-img {
    overflow: hidden;
    position: relative;
}

.item-img img {
    object-fit: cover;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
}

.homepage {
    height: 100%;
}

.homepage .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.homepage .item-wrap {
    border: solid 1px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.homepage .item-wrap>* {
    pointer-events: none;
}

.homepage .item-img {
    height: 200px;
    margin: 10px;
    background-color: cadetblue;
    border-radius: 6px;
}

.full .item-img {
    width: calc(100% - 40px);
    height: 600px;
    border-radius: 10px;
    margin: 10px;
    background-color: cadetblue;
}

.homepage .item-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 16px;
}

.detailpage .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.detailpage {
    height: 100%;
}

.detailpage .item-img {
    height: 400px;
    margin: 10px;
    background-color: cadetblue;
    border-radius: 6px;
}